.newsArticle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;
}
