.result-container {
  .map-of-nepal {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    img {
      box-shadow: 0px 0px;
      :hover {
        cursor: pointer;
      }
    }
  }
  .seats-allocated {
    height: 600px;
    background-color: red;
    margin: 20px;
  }
}
