.footer {
  color: white;
  height: 200px;
  background-color: rgb(18, 38, 108);
  display: flex;
  justify-content: space-around;
  align-items: center;
  #left {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      height: 60px;
      width: 160px;
    }
  }
  #mid {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: underline;
      color: white;
    }
  }
  #right {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .socials {
      a {
        img {
          height: 40px;
          width: 40px;
          background-color: white;
          margin: 0px 5px;
        }
      }
    }
  }
}
