body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 800px;
  background-image: linear-gradient(
    to left,
    rgb(191, 184, 184),
    rgb(30, 30, 30)
  );
  border-radius: 10px;
}
.top {
  display: flex;
}
.top img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding-right: 30px;
}
.top h1 {
  display: inline;
  color: whitesmoke;
}
.quote {
  font-size: 40px;
  background-color: white;
  height: auto;
  width: 600px;
  border-radius: 5px;
}
button {
  cursor: pointer;
}
.generate {
  padding: 10px 30px;
  background-color: rgb(236, 99, 66);
  border-radius: 5px;
  position: absolute;
  top: 350px;
  left: 420px;
}
