:root {
  --bg-color: white;
  --text-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 2px solid var(--text-color);
  height: 150px;
  width: 150px;
  padding: 0px;
  margin: 0px;
  background-color: var(--bg-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 70px;
  color: var(--text-color);
}

* {
  font-size: 40px;
  color: var(--text-color);
}
